@charset "UTF-8";

html {
    font-size: 100%;
}
main {
    width: 100vw;
    height: auto;
    background-color: #F0BA53;
}
#mesh {
    width: 90vw;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#mesh+div {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
}
.tile {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border: solid 3px #ddd;
    border-radius: 10px;
    margin: 10px 4px 10px 4px;
}
h1 {
    font-size: 3rem;
    padding: 1%;
    font-weight: bold;
    text-align: center;
    background-color: #BFF00E;
}
.button {
    font-size: 1.1rem;
    font-weight: bold;
    width: 80px;
    height: 35px;
    border-radius: 10px;
    background-color: #BFF00E;
    text-align: center;
    margin: 5px;
}
footer {
    background-color: #ddd;
}
h2 {
    padding: 1%;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 2px solid #000;
}
ol {
    padding: 1%;
    list-style-position: inside;
    list-style-type: disc;
}
.black {
    background-color: black;
}
.green {
    background-color: green;
}